@model ForgotPassword

<div class="text-center">
    <h1>Forgot Password</h1>
    <form method="post">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Please enter the username of the account</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label class="col-form-label" asp-for="Username"></label>
                <input type="text" asp-for="Username" class="form-control text-center" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Reset Password</button>
        </div>
    </form>
</div>

@*The client will validate the form.*@
@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }