@model User

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Register</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <h4>Password must contain the following</h4>
                <ul>
                    <li>One special character. (!#%$^)</li>
                    <li>One uppercase letter.</li>
                    <li>One lowercase letter.</li>
                    <li>One number.</li>
                    <li>At least 8 characters long</li>
                </ul>
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Register</button>
        <a asp-controller="User" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to Login
        </a>
    </div>
</form>

@*The client will validate the form.*@
        @section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
