@model ResetPassword

<div class="text-center">
    <h1>Reset Password</h1>
    <form method="post">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Please enter new password</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label class="col-form-label" asp-for="Password"></label>
                <input type="password" asp-for="Password" class="form-control text-center" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <h4>Password must contain the following</h4>
                <ul style="list-style: none">
                    <li>One special character. (!#%$^)</li>
                    <li>One uppercase letter.</li>
                    <li>One lowercase letter.</li>
                    <li>One number.</li>
                    <li>At least 8 characters long</li>
                </ul>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Reset Password</button>
        </div>
    </form>
</div>

@*The client will validate the form.*@
@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
